<div class="project">
  <h1>Undecid</h1>
  <article>
    <h2>
    Lisp implementation written in Ruby
    and inspired by Clojure
    </h2>

    <a href="https://github.com/mistersourcerer/ruspea" target="_blank">
      <section class="project-highlight">
        <nav>
          <img src="/assets/images/logos/github.png" />
        </nav>

        <article>
          <h3>This project allowed me to:</h3>

          <ul>
            <li>get something difficult done</li>
            <li>understand exactly what are parsers, lexers, compilers...</li>
            <li>learn a little bit about the Clojure internals</li>
            <li>get better at Lisp</li>
          </ul>

          <section class="tags">
            <span>#ruby</span>
            <span>#clojure</span>
            <span>#lisp</span>
            <span>#language_design</span>
            <span>#interpreter</span>
            <span>#lexer</span>
          </section>
        </article>
      </section>
    </a>

    <section>
      <p>
      Much probably my most cherished pet project.
      It is far from being the best code I have written
      but for sure is the one I had the most fun with.
      </p>

      <p>
      As a developer who lacks the formal education
      I am on a self inflicted mission to acquire
      the Computer Science knowledge that I don't have yet.
      This project was part a little stone
      that I managed to lay down on this path.
      </p>
    </section>
  </article>
</div>
