<div class="project">
  <h1>Wormallies</h1>
  <article>
    <h2>
      Snake game clone on vanilla JavaScript (ES6)
    </h2>

    <a href="/projects/wormallies" target="_blank">
      <section class="project-highlight">
        <nav>
          <img src="/assets/images/preview/wormallies.png" class="round-preview" />
        </nav>

        <article>
          <h3>This project allowed me to:</h3>

          <ul>
            <li>get familiar with (at the time) modern JavaScript</li>
            <li>have fun with visual results for my development XD</li>
            <li>update my knowledge base on (at the time) modern browsers</li>
          </ul>

          <section class="tags">
            <span>#js</span>
            <span>#es6</span>
            <span>#node</span>
            <span>#webpack</span>
            <span>#vanilla</span>
            <span>#webgame</span>
          </section>
        </article>
      </section>
    </a>

    <section>
      <p>
        A really fun project. Was way bigger when conceived.
        I wanted to synchronize the appearance of food
        and posiong particles with "good" and "bad" interactions
        of the player on Social Medias.
        So the game itself would be "just" the front end for this idea.
        I might revisit it and try to go full bananas on this project.
        But for now it makes for a very familiar gaming experience :).
      </p>

      <p>
        I really needed to get my knives sharper
        on the web front end arena at the time.
        There was just too much stuff that I wasn't aware of.
        My days of hiding deep inside the backend development cave needed a break.
        I really enjoy f.e. stuff, though.
        So I carved some free time to play around with it.
      </p>
    </section>
  </article>
</div>
