    <header>
      <section class="title">
        <h1>
          <abbr title="Mister Sourcerer's Bloggy Blog">
            [<span class="logo">m</span>s2b]
          </abbr>
          <span class="logo">M</span>ister Sourcerer's Bloggy Blog
        </h1>

        <h2>
          A minimalist blog where I write,  discuss and engage
          on software development topics
        </h2>
      </section>

      <section class="menu">
        <nav class="links">
          {% include menu.html %}
        </nav>

        <nav class="out-there">
          {% include social_medias.html %}

          <nav class="lang">
            <a href="/index_PT-br.html">pt &#127463;&#127479;</a>
            <a href="/index_EN-us.html">en &#127482;&#127480;</a>
          </nav>
        </nav>
      </section>
    </header>
