{% assign pt = false %}
{% for category in page.categories %}
  {% if category == "PT-br" %}
    {% assign pt = true %}
  {% endif %}
{% endfor %}

{% capture lang %}
  {% if pt %}
    PT-br
  {% elsif page.lang %}
    {{ page.lang }}
  {% elsif site.lang %}
    {{ site.lang }}
  {% else %}
    EN-us
  {% endif %}
{% endcapture %}
{% assign lang = lang | strip %}

{% capture feed %}
  {% if page.feed %}
    {{ page.feed }}
  {% else %}
    /feed/{{ lang }}.xml
  {% endif %}
{% endcapture %}
{% assign feed = feed | strip %}

<!DOCTYPE html>
<html lang="{{ lang }}">
