<nav class="social">
  <a href="https://twitter.com/mistersourcerer" target="_blank">
    <img src="/assets/images/logos/twitter-w.png" /></a>

  <a href="https://github.com/mistersourcerer" target="_blank">
    <img src="/assets/images/logos/github-w.png" /></a>

  <a href="https://www.linkedin.com/in/ricardovaleriano" target="_blank">
    <img src="/assets/images/logos/linkedin-w.png" /></a>

  <a href="https://www.instagram.com/mistersourcerer" target="_blank">
    <img src="/assets/images/logos/instagram-w.png" /></a>
</nav>
