@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@700&family=Montserrat&display=swap');

$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$baloo: 'Baloo Chettan 2', cursive;
$monts: 'Montserrat', sans-serif;
