$backgroundColor: #F5F5F5;
$bodyColor: #000000;

@import "fonts";
@import "pallete";
@import "reset";

body {
  background: $pallete_middle; //$backgroundColor;
  color: $pallete_dark; //$bodyColor;
  font-family: $bodyFont;
}

p {
  font-family: $bodyFont, $ubuntu;
  font-weight: 300;
  padding-bottom: 50px;
  font-size: 1.7em;

  @media (min-width: 10px) and (max-width: 750px) {
    font-size: 1em;
    padding-bottom: 20px;
    font-weight: 400;
  }

  @media (min-width: 750px) and (max-width: 1100px) {
    font-size: 1.5em;
    padding-bottom: 35px;
  }
}

.detail {
  font-size: 1em;
}

.important {
  color: #6A2C70;
}

@counter-style lovely {
  system: cyclic;
  symbols: "\1f499" "\1f49a" "\1f49c" "\1f5a4" "\1f49b" "\1f4a8";
  suffix: " ";
}

@counter-style nonono {
  system: cyclic;
  symbols: "\1F648" "\1F649" "\1F64A";
  suffix: " ";
}

ul {
  list-style-type: nonono;
}

.text-highlight {
  color: $pallete_middle;
  text-decoration: underline;
  font-weight: bold;
}

h1 {
  color: $pallete_first;

  font-family: $titleFont;
  font-weight: 500;
  font-size: 4.5em;
}

h2 {
  font-family: $titleFont;
  font-size: 2em;
}

main {
  background: $backgroundColor;
  display: grid;
  justify-content: center;

  @media (max-width: 800px) {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: left;

    h1 {
      font-size: 2.1em;
    }

    h2 {
      font-size: 1.8em;
    }
  }

  section {
    max-width: 800px;
    padding-top: 40px;
  }
}

header {
  background: $pallete_first;
  justify-content: center;
  display: grid;
  row-gap: 5px;
  padding-bottom: 10px;

  @media (max-width: 1100px) {
    //padding: 20px 20px 20px 20px;
  }

  section.menu {
    @media (max-width: 900px) { margin-top: 0px; }
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: end;
  }

  nav.out-there {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    column-gap: 10px;
  }

  section {
    font-family: $bodyFont;

    nav {
      color: $pallete_second;
      font-size: 1.3em;

      a {
        text-decoration: none;
        color: $pallete_second;
      }
    }

    nav.social {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;

      img {
        max-width: 26px;
      }
    }

    nav.lang {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 4px;
      font-size: 0.7em;
      max-width: 80px;
    }

    nav.links {
      display: grid;
      grid-template-columns: 1fr 1fr 3fr;
      column-gap: 10px;
      max-width: 300px;
      a {
        text-decoration: underline;
      }
      a:hover {
        text-decoration: underline $pallete_middle;
      }
    }
  }

  abbr[title] {
    text-decoration: none;
  }

  .title {
    padding: 10px 10px 10px 10px;

    h1 {
      @media(max-width: 1100px) {
        max-width: 800px;
        font-size: 2.8em;
      }
      @media(max-width: 780px) {
        font-size: 1.6em;
        line-height: 1;
      }
      @media(min-width: 1101px) {
        padding-top: 20px;
      }

      font-size: 4em;
      color: $pallete_last;
      line-height: 0.8;

      span {
        color: $pallete_middle;
      }
    }

    h2 {
      @media(max-width: 1100px) {
        font-size: 1em;
      }
      @media(max-width: 780px) {
        font-size: 0.7em;
      }
      color: $pallete_second;
      font-size: 1.2em;
    }
  }

  .menu {
    padding: 10px 10px 10px 10px;
    @media(max-width: 1100px) {
      a {
        font-size: 0.8em;
      }
    }
  }
}

footer {
  @media (min-width: 925px) { min-width: 925px; }
  @media (max-width: 820px) {
    padding-right: 20px;
    padding-left: 20px;
  }

  background: $pallete_middle;
  color: $pallete_first;
  display: grid;
  justify-content: center;
  padding: 20px 0px 30px 0px;

  h1 {
    color: $pallete_first;
    font-size: 1.5em;
  }

  h2 {
    font-size: 1em;
  }
}
