@import "pallete";
@import "fonts";

main {
  h1 {
    color: $pallete_first;
  }

  h1 + p {
    padding-top: 30px;
  }

  h1 + p::first-letter {
    color: $pallete_middle;
    font-family: $titleFont;
    font-size: 3em;
    line-height: 0.4;
  }

  h2 {
    color: $pallete_first;
    font-family: $titleFont;
    font-size: 2.3em;
  }

  h2 + p {
    padding-top: 20px;
  }

  h2 + p::first-letter {
    color: $pallete_middle;
    font-family: $titleFont;
    font-size: 2em;
    line-height: 0.2;
  }

  p + h2 {
    padding-top: 30px;
  }

  article {
    @media (max-width: 800px) {
      padding-right: 20px;
      padding-left: 20px;
    }
    padding-top: 40px;
    max-width: 800px;

  }

  p {
    font-family: $ubuntu;
    font-weight: 300;
    font-size: 1.7em;
    padding-bottom: 50px;
  }
}
