@import "pallete";
@import "fonts";

main {
  padding-bottom: 60px;

  header {
    background-color: transparent;

    h1 {
      font-size: 3.5em;
      color: $pallete_first;
      line-height: 1;
    }

    section {
      display: grid;
      justify-content: end;
      justify-items: end;
      padding-top: 5px;
      padding-bottom: 30px;

      @media (min-width: 500px) {
        span {
          font-size: 10px;
        }
      }
      @media (min-width: 550px) {
        span {
          font-size: 12px;
        }
      }
    }
  }

  header + p {
    padding-top: 30px;
  }

  header + p::first-letter {
    color: $pallete_middle;
    font-family: $titleFont;
    font-size: 3em;
    line-height: 0.4;
  }

  h2 {
    color: $pallete_first;
    font-family: $titleFont;
    font-size: 2.3em;
    line-height: 1;
  }

  h2 + p {
    padding-top: 20px;
  }

  h2 + p::first-letter {
    color: $pallete_middle;
    font-family: $titleFont;
    font-size: 2em;
    line-height: 0.2;
  }

  p + h2 {
    padding-top: 30px;
  }

  h3 {
    color: $pallete_first;
    font-family: $titleFont;
    font-size: 1.4em;
  }

  h4 {
    color: $pallete_first;
    font-family: $titleFont;
    font-size: 1.4em;
    font-style: italic;
    line-height: 1;
    padding-bottom: 10px;
  }

  article {
    @media (max-width: 800px) {
      padding-right: 20px;
      padding-left: 20px;

      h1 {
        font-size: 2.2em;
      }

      header section {
        font-size: 0.8em;
        grid-template-columns: 1fr 1fr;

        .date {
          grid-column: 1/1;
        }
      }
    }

    max-width: 800px;
    padding-top: 20px;

    ul {
      font-size: 1.3em;
      padding-bottom: 40px;
      padding-top: 20px;

      li {
        line-height: 1.2;
        padding-bottom: 10px;
      }
    }
  }

  p {
    font-family: $ubuntu;
    font-weight: 300;
    font-size: 1.7em;
    padding-bottom: 50px;
  }

  em {
    font-style: italic;
  }
}

img.center-image {
  margin: 0 auto;
  display: block;

  // to ensure old posts behave correctly
  @media (min-width: 320px) {
      max-width: 270px;
  }
  @media (min-width: 500px) {
      max-width: 450px;
  }
  @media (min-width: 850px) {
    max-width: 800px;
  }
}
