---
---

@import "fonts";
@import "pallete";

main {
  a {
    color: inherit;
  }

  ul li:nth-child(1) {
    a {
      @media (max-width: 800px) {
        font-size: 1.5em;
      }
      font-size: 4.2em;
    }
  }

  ul li:nth-child(2) {
    a {
      @media (max-width: 800px) {
        font-size: 1.5em;
      }
      font-size: 2.8em;
    }
  }

  ul li:nth-child(3) {
    a {
      @media (max-width: 800px) {
        font-size: 1.5em;
      }
      font-size: 2em;
    }
  }

  ul a {
    text-decoration: none;
    color: $pallete_first;
    font-family: $titleFont;
    font-weight: 500;
    font-size: 1.6em;
  }


  @media (max-width: 800px) {
    padding-bottom: 100px;
    justify-content: left;

    ul {
      padding-top: 30px;
      padding-left: 20px;
      a {
        font-size: 1.5em;
      }
    }
  }
}
