<div class="project">
  <h1>Campa</h1>
  <article>
    <h2>
    Another Lisp in Ruby: the "Paul Graham's" one this time
    </h2>

    <a href="https://github.com/mistersourcerer/campa" target="_blank">
      <section class="project-highlight">
        <nav>
          <img src="/assets/images/logos/github.png" />
        </nav>

        <article>
          <h3>This project allowed me to:</h3>

          <ul>
            <li>get back in the flow of writting code</li>
            <li>exercise some white paper/paper reading muscles</li>
            <li>keep declaring my love to Lisp &#128153;</li>
          </ul>

          <section class="tags">
            <span>#ruby</span>
            <span>#roots_of_lisp</span>
            <span>#language_design</span>
            <span>#runtime</span>
            <span>#lexer</span>
          </section>
        </article>
      </section>
    </a>

    <section>
      <p>
      This has way better code and documentation and polishing
      than one can find in Ruspea, that is for sure XD.
      This was a project I wrote to get back in the swing
      after coming back from a short sabbatical I gave myself
      when moving back to Brazil.
      </p>

      <p>
      It makes very clear that I am still
      in the mood to keep studying language implementation, design
      and all the things in between.
      I can say that this is the type of software I am comfortable
      writing on my free time.
      </p>
    </section>
  </article>
</div>
