{% include open.html %}
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}

    <main>
      <section>
        {{ content }}
      </section>
    </main>

    {% include footer.html %}

    <script>
      function addEasterEggTo(lists) {
        // const style = ul.style;
        // const easterEggOriginalStyle = style['list-style-type'];

        const easter_egg = new Konami(function() {
          lists.forEach(ul => {
            const style = ul.style;

            if(!ul.dataset.originalStyleType) {
              for (const [prop, val] of ul.firstElementChild.computedStyleMap()) {
                if(prop == "list-style-type") {
                  ul.dataset.originalStyleType = val.toString();
                }
              }
              if(!ul.dataset.originalStyleType) {
                ul.dataset.originalStyleType = 'nonono'
              }
              style['list-style-type'] = 'lovely';
            } else {
              style['list-style-type'] = ul.dataset.originalStyleType;
            }
            // if(style['list-style-type'] != 'lovely') {
            //   style['list-style-type'] = 'lovely';
            // } else if(undefined !== easterEggOriginalStyle) {
            //   style['list-style-type'] = easterEggOriginalStyle;
            // }
          })
        });
      }

      (function() {
        const lists = document.querySelectorAll('ul');
        if (lists.length > 0) { addEasterEggTo(lists); }
      })();
    </script>
  </body>
</html>

