{% include open.html %}
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}

    <main>
      <article>
        <header>
          <h1>{{ page.title }}</h1>
          <section>
          {% if lang == "pt-br" %}
            <span class="date">publicado originalmente em {{ page.date | date_to_string }}</span>
            <span class="author">por {{ page.author }}</span>
          {% else %}
            <span class="date">originally published in {{ page.date | date_to_string }}</span>
            <span class="author">by {{ page.author }}</span>
          {% endif %}
          </section>
        </header>

        {{ content }}
      </article>
    </main>

    {% include footer.html %}


    <script src="/assets/nyancat/nyan.js"></script>
    <script>
      (function() {
        var omgNyan = false
        const easter_egg = new Konami(function() {
          console.log(omgNyan);
          nyan(omgNyan);
          omgNyan = !omgNyan;
          console.log(omgNyan);
        });
      })();
    </script>
  </body>
</html>
